$background-color: #3d3d3d;
$primary-color: #c3c3c3;
$secondary-color: #808080;
$text-color: #333333;

@import "variables";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Helvetica", Arial, sans-serif;
}

body{
    background-color: $background-color;
    color: $text-color;
}

a{
    color: $text-color;
    text-decoration: none;
}

.bold{
    font-weight: bold;
}

.landing-page{
    text-align: center;
    padding: 4em 1em;

    .company-name{
        color: $primary-color;
    }
    .company-job{
        font-size: 1.5em;
        color: $secondary-color;
    }
    .languages{
        color: $secondary-color;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.6em;
        line-height: 1.5em;

        ul{
            list-style: none;
            display: none;
            float: left;
            transition: 1s;
            padding: 0 0.2em;

            li{
                display: inline;
                padding: 0 0.4em;

                a{
                    text-decoration: none;
                    color: $secondary-color;
                }
            }
        }
    }
}

.text-container{
    background: white;
    padding: 1em;
    line-height: 1.5em;
    text-align: center;
    margin: 1em 0;

    .contact{
        display: block;
        font-size: 1.4em;
        font-weight: bold;
        padding: 1em;
        cursor: pointer;
    }

    p{
        margin-top: 1em;
    }
}

.stone-preview{
    text-align: center;
    color: $primary-color;

    h2{
        padding: 0.5em 0;
    }

    img{
        padding: 1em;
        width: 250px;
    }

    div{
        padding: 1em;
    }
}

.contactWrapper{
    transition: 0.5s max-height;
    max-height: 0;
    background: white;
    position: relative;
    top: -3em;
    overflow: hidden;
    padding: 0 1em;

    .contactForm{
        border-top: 2px solid $primary-color;
        position: relative;
        padding: 1em 0;
        margin: 0 auto;
        line-height: 2em;
        display: flex;
        flex-direction: column;
        max-width: 30em;
    }

    .contactClose{
        position: absolute;
        right: 0;
    }

    input, textarea{
        padding: 0.5em;
        border: 1px solid $primary-color;
        border-radius: 0.5em;
        margin-bottom: 1em;
        width: 100%;
    }

    textarea{
        height: 20em;
    }
}

.error{
    text-align: center;
    color: $primary-color;
    padding: 2.5em 1em;
}

@media #{$mdMedia}{
    .text-container{
        padding: 2em 18em;
    }
    .stone-preview picture{
        padding: 1em 2em;
    }
    .landing-page{
        padding: 6em 1em
    }
    .contactWrapper{
        top: -4em;
    }
}

@media #{$lgMedia}{
    .text-container{
        padding: 3em 25em;
    }
    .stone-preview picture{
        padding: 2em 4em;
    }
    .landing-page{
        padding: 10em 1em
    }
    .contactWrapper{
        top: -5em;
    }
}
